# Rename to .env

### DEVELOPMENT ONLY VARIABLES
# These variables need to be set
# for local development only

# Mandatory next-auth URL for localhost
NEXTAUTH_URL=http://localhost:3000

### PRODUCTION & DEVELOPMENT VARIABLES
# These variables need to be set
# for local development and when deployed on Vercel

DATABASE_URL=postgresql://postgres:trung123@alumni-dev.cvbnls34cwuv.ap-southeast-1.rds.amazonaws.com:5432/platform_dev?schema=public
MAINAPP_DATABASE_URL="postgresql://postgres:trung123@alumni-dev.cvbnls34cwuv.ap-southeast-1.rds.amazonaws.com:5432/alumni_dev?schema=public"

GOOGLE_CLIENT_ID=248145918246-1s3gkkqi3n9i5g8h9fhbc02t93hsl27d.apps.googleusercontent.com
GOOGLE_CLIENT_SECRET=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

# Secret key (generate one here: https://generate-secret.vercel.app/32)
NEXTAUTH_SECRET=31b3c83a26cd5a80e54fc570ace11eeb

# https://vercel.com/account/tokens
AUTH_BEARER_TOKEN=TVEZm4ReO38lf9yucECkyqjT
# https://vercel.com/<org>/<project>/settings
PROJECT_ID_VERCEL=demo-multitenancy
# https://vercel.com/teams/<org>/settings
TEAM_ID_VERCEL=sp23

MAINAPP_DOMAIN=.vercel.app
